.gameStatistics
{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 15px;
}

.questionSection
{
    margin: 0 auto;
}

.questionSection h3
{
    font-size: 1.5rem;  
    white-space: initial;  
}

.answers
{
    display: inline-flex;
    justify-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
}

.answers button
{
    margin: 10px 5px;
}

.correctAnswer
{
    background: linear-gradient(37deg, #35e98e, #167e06) !important;
    position: relative;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

.correctAnswer .buttonColoring
{
    background: linear-gradient(37deg, #35e98e, #167e06) !important;
}
@keyframes pulse
{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}

.incorrectAnswer
{
    background: linear-gradient(37deg, #dd5050, #7e0606) !important;
    position: relative;
    animation-name: horizontalShaking;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

.incorrectAnswer .buttonColoring
{
    background: linear-gradient(37deg, #dd5050, #7e0606) !important;
}

.helpers
{
    font-size: 2em;
    color: #fff;
    display: flex;
    padding: 10px 0;
}
.cut50, .addTime
{
    width: 3em;
    height: 3em;
    background: linear-gradient(37deg, #35e98e, #167e06);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 150px;
    margin: 0 auto;
    border:1px solid #1bff81;
}

.cut50
{
    background: linear-gradient(37deg, rgb(189, 53, 233), rgb(189, 54, 47));
    border:1px solid #ff1ba4;
}

.cut50:hover, .addTime:hover
{
    color: #000;
}

.disabled
{
    background: linear-gradient(
        37deg, #545454, #a3a3a3) !important;
    border: 1px solid #999999;
    box-shadow: inset 0px 0px 86px 0px #181818;
    cursor: not-allowed;
}

.dontShowAnswer .buttonColoring
{
    background: linear-gradient(
        37deg, #545454, #a3a3a3) !important;
    border: 1px solid #999999;
    box-shadow: inset 0px 0px 86px 0px #181818;
    cursor: not-allowed;
}

@keyframes horizontalShaking 
{
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}
