.gameStatistics
{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 15px;
}

.questionSection
{
    margin: 0 auto;
}

.questionSection h3
{
    font-size: 1.5rem;  
    white-space: initial;  
}

.answers
{
    display: inline-flex;
    justify-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
}

.answers button
{
    margin: 10px 5px;
}
