.gameStatistics
{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 15px;
}

.questionSection
{
    margin: 0 auto;
    width: max-content;
}

.questionSection h3
{
    width: max-content;
    font-size: 1.5rem;
    
}
